<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/header-nav.ejs', {title: title, username: user.username}); %>
        <div style="text-align: center; width: 40%; margin: auto;">
            <h2 style="color: #13ab08; margin: 20px 40px;" >Welcome, Chef <%= user.fname %> <%= user.lname %></h2>
        </div>
        <div id="pizza-view-header">
            <button onclick="displayNewPizza()">Create Pizza</button>
            <form action="/create/delete-pizza" id="pizza-header-form" method="POST">
                <input type="hidden" name="id">
                <button type="submit" id="delete-button" disabled>Delete Pizza</button>
            </form>
        </div>
        <div id="pizza-view-container">
            <div id="pizza-view-control">
                <div id="pizza-list-wrapper">
                    <% pizzas.map(pizza => { %>
                        <div class="pizza-list-item-wrapper" onclick="displayUpdatePizza(this)"> 
                            <div class="pizza-list-item-image">
                                <img src=<%= pizza.img %>  alt="">
                            </div>
                            <div class="pizza-list-item-data">
                                <div>
                                    <h3 style="display: inline;"><%= pizza.name %></h3>
                                    <div>
                                        <span>$<%= pizza.price %></span>
                                    </div>
                                </div>
                                <div><%= pizza.description %></div>
                                <% let toppingsForUpdate = JSON.stringify(pizza.toppings.map(e => e.name))%>
                                <input type="hidden" class="selected-pizza" value=<%= toppingsForUpdate %>>
                                <div>
                                    <% pizza.toppings.slice(0, 4).map(e => { %>
                                        <div class="pizza-list-item-topping"><%= e.name %></div>
                                    <% }) %>
                                    <% if (pizza.toppings.length > 4){ %>
                                        <% let extras = pizza.toppings.length - 4 %>
                                            <div class="pizza-li-extras"><%= extras %> more</div> 
                                    <% } %>
                                </div> 
                            </div>
                            <input type="hidden" name="id" value=<%=pizza.id%>>
                        </div>
                    <% }) %>
                </div>
                <!-- INITIAL CONTENT BEFORE CLICKING A PIZZA OR CLICKING NEW PIZZA BUTTON  -->
                <div id="initial-pizza-message-container">
                    <div id="initial-pizza-message-div">
                        Select a pizza to update or create a new pizza to begin.
                    </div>
                </div>
                <!-- BEGIN RIGHT SIDE OF PAGE, STARTING WITH UPDATE PIZZA VIEW -->
                <form action="/create/update-pizza/" method="POST" id="pizza-update-wrapper" style="display: none;">
                    <div id="pizza-update-metadata">
                        <div id="pizza-update-photo">
                            <img id="update-pizza-img">
                        </div>
                        <div id="pizza-update-forminputs">
                            <div>
                                <h3>Update Name</h3>
                                <input type="text" name="name" placeholder="Name" maxlength="20" id="update-pizza-name">
                            </div>
                            <div>
                                <h3>Update Description</h3>
                                <textarea name="description" maxlength="90" id="update-pizza-description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="pizza-update-toppings">  
                        <h3>Update Toppings</h3>
                        <input type="hidden" id="update-toppings-on-pizza" name="toppings">
                        <% toppings.map(topping => { %>
                            <div class="available-topping-update" onclick="addOrRemoveTopping(this)">
                                <input type="hidden" value=<%=topping.name%>>
                                <%=topping.name%>
                                <input type="hidden" name="id" id="update-pizza-id">
                            </div>
                        <% }) %>
                    </div>
                    <div id="pizza-update-actions">                     
                        <button class="button" style="width:fit-content">Submit Changes</button>
                    </div>
                </form>
                <!-- BEGIN NEW PIZZA CONTAINER  -->
                <form action="/create/submit-pizza" method="POST" id="pizza-new-wrapper" style="display: none;">
                    <div>
                        <div id="pizza-new-forminputs">
                            <div>
                                <h3 id="type-indicator">New Pizza Name</h3>
                                <input type="text" name="name" placeholder="Name" maxlength="20" required>
                            </div>
                            <div>
                                <h3>Description</h3>
                                <textarea name="description" maxlength="90" id="new-pizza-description" placeholder="Set a small message for customers to understand your creation" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="pizza-new-toppings"> 
                        <h3>Choose Toppings</h3>
                        <input type="hidden" id="new-toppings-on-pizza" name="toppings">
                        <% toppings.map(topping => { %>
                            <div class="available-topping" onclick="addOrRemoveTopping(this)">
                                <input type="hidden" value=<%=topping.name%>>
                                <%=topping.name%>
                            </div>
                        <% }) %>
                    </div>
                    <div id="pizza-new-actions">
                        <button class="button" type="submit" style="width:fit-content">Submit New Pizza</button>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>