<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/header-nav.ejs', {nav_title: title, username: user.username}); %>
        <div style="text-align: center; width: 40%; margin: auto;">
            <h2 style="color: #13ab08; margin: 20px 40px;" >Welcome, <%= user.fname %> <%= user.lname %></h2>
        </div>
        
        <div class="item-list-container-head">
            <div class="item-data">
                <div class="item-content"><a href="/create" style="text-decoration: none"><div class="new-button">New</div></a></div>
                <div class="item-content content-head">Name</div>
                <div class="item-content content-head">Type</div>
                <div class="item-content content-head">Price</div>
                <div class="item-content content-head">Created By</div>
                <div class="item-content content-head">Actions</div>
            </div>
        </div>
        <div class="item-list-container">
            
            <% data.map(e => {%>
                <div class="item-data">
                    <div class="item-content">
                        <img src=<%=e.img %> alt="">
                    </div>
                    <div class="item-content content-body">
                        <%= e.name %>
                    </div>
                    <div class="item-content content-body">
                        <%= e.type %>
                    </div>
                    <div class="item-content content-body">
                        $<%= e.price %>
                    </div>
                    <div class="item-content content-body">
                        <%= e.users.username %>
                    </div>
                    <div class="item-content content-body">
                        <div onclick="displayModal(this)" style="display: inline">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <p style="display: none" class="update-topping-id-values"><%= e.id %></p>
                            <input type="hidden" value=<%=e.name%>>
                            <input type="hidden" value=<%=e.type%>>
                            <input type="hidden" value=<%=e.price%>>
                        </div>
                        <form action="/create/delete" method="POST"class="action-button">
                            <input type="hidden" name="id" value=<%= e.id %>>
                            <button type="submit" style="background: none; border: none; color: white; font-size: 1rem;"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
            <%}) %>
        </div>
        <div class="modal-container" style="display: none">
            <div class="modal-content">
                <div class="back-button" onclick="closeModal()">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                    <h2>Update Topping</h2>
                    <form action="/create/update" method="POST" id="update-topping">
                        <div>
                            <label for="name">Name</label>
                            <input name="name" type="text" id="update-topping-name" required>
                        </div>
                        <label for="type">Type</label>
                        <select name="type" id="update-topping-type" required>
                            <option value="Sauce">Sauce</option>
                            <option value="Cheese">Cheese</option>
                            <option value="Veggies">Veggies</option>
                            <option value="Meat">Meat</option>
                        </select>
                        <div>
                            <label for="price">Price</label>
                            <input name="price" type="number" min="0" max="4" step=".01" id="update-topping-price" required>
                        </div>
                        <input type="hidden" name="users" id="update-topping-createdby" value=<%= user.username %>>
                        <input type="hidden" name="id" id="update-topping-id">
                        <button class="button" type="submit">Submit Changes</button>
                    </form>
            </div>
        </div>
    </body>
</html>